@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


@font-face {
  font-family: 'InterDisplay';
  src: url('/src/components/font/InterDisplay-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PPNeueMontreal';
  src: url('/src/components/font/ppneuemontreal-bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'caveat';
  src: url('/src/components/font/Caveat.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Apply fonts */
body {
  font-family: 'InterDisplay', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'PPNeueMontreal', sans-serif;
}
h6{
  font-family: 'caveat', sans-serif;
  
}
